<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Burgers</title>
	</head>
	<body>

		<img src="/assets/img/coolburger.jpeg" width="500px" id="coolburger">
		{{{ body }}}


		<footer class="burgerFooter">
		<div class="footerClass">
			<div class="container">
				</div>
	</footer>
	</body>
</html>
